<h1>You have successfully created your order </h1>
<h2>Here are Basic Informations</h2>

<h2>Ordered Product:<%= @order.product.id %></h2>
<h2>Quntity:<%= @order.quantity %></h2>
<h2>Subtotal:<%= @order.subtotal %></h2>
<h2>Tax:<%= @order.tax %></h2>
<h2>Total:<%= @order.total %></h2>